/* estilos genericos */

#fondo-index{
	overflow: hidden;
}


/**********************************************************************************************/
/* estilo index.html */

.video-intro{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -11;
	overflow: hidden;
}


/***********************************************************************************************/


/* estilo para el boton que sube imagenes*/

.btn-file {
  position: relative;
  overflow: hidden;
	margin-left: 10%;
  margin-top: 5%;
  }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-anadida{
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
}




/********************************************************************************************************/

/* estilos página noticias.html */
#fondo{
  background-color: #000;
  background-image: url(../images/fondo-noticias.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.orden{
  margin-top: 12vh;
}

.columna1{
	overflow: hidden;
}

.columna1::-webkit-scrollbar{
	width: 1px;
}

.panel-heading{
  background-color: #b94a48;
}

.bubble{
	position: relative;
	width: 580px;
	min-height: 65px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.bubble:after{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left:-15px;
	top: 50%;
}

.bubble:before{
	content:'';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -15px;
	left:-16px;
	top: 50%;
}

.post-actions{
	margin:5px;
}

.comment-form .form-group{
	width: 90%;
}

.comment{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 5px 0;
	overflow: auto;
	width:100%;
}

.comment-form input[type="text"]{
	width: 100%;
}

.comment-avatar img{
	width: 40px;
	margin-right: 5px;
}

.friends li{
	list-style: none;
	padding:0 5px;
	display:inline;
	float:left;
}

.friends img{
	width: 55px;
}

.grupos img{
	width:80px;
	float:left;
	margin-right: 15px;
}

.group-item{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}

/****************************************************************************/

/* estilos perfil.html */
.conternido:-webkit-scrollbar{
  width: 1px;
}

.portada{
  outline: 1px solid #000;
  height: 40vh;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.img-portada{
  background: rgba(0, 0, 0, 0.4);
}

.img-portada img{
  width: 150px;
  height: 150px;
  margin-top: 14vh;
  margin-left: 2vh;
}

.img-portada h2{
  margin-top: 33vh;
  margin-left: -12vh;
  color: #fff;
  font-weight: bold;
}

.follow{
  /*outline: 1px solid #000;*/
  height: 10vh;
  margin-top: 11vh;
  text-align: center;
}

.myPost{
  height: 90vh;
  overflow: auto;
}

.myPost::-webkit-scrollbar{
  width: 1px;
}

.mis-publi{
  background-color: azure;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  border-radius: 4px;
  margin-right: auto;
  height: 18vh;
}

.mis-publi img{
  margin-left: auto;
  margin-right: auto;
}

.mis-publi .row{
  padding-top: 20px;
  padding-bottom: 20px;
}

.like{
  margin-left: 20px;
}

/******************************************************************************/

/* estilos mensajes.html */

.bajar{
  margin-top: 23px;
}

.mensajes{
  margin-top: 10vh;
}

.users-msj{
  height: 68vh;
  overflow: auto;
	border: none;
}

.users-msj img{
  width: 70px;
  height: 70px;
}

.users-msj::-webkit-scrollbar{
  width: 1px;
}

.hist-msj{
	border: 1px solid #ddd;
  height: 47vh;
	overflow: auto;
}

.hist-msj::-webkit-scrollbar{
	width: 1px;
}

.env-mensaje{
  border: 1px solid #ddd;
  height: 20vh;
	margin-top: 10px;
}

.env-mensaje #txt-msj{
	height: 60px;
	width: 100vh;
}

.env-mensaje button{
	margin-top: -46px;
}

/*****************************************************************************************/

/* estilos del footer */
footer{
	background: #f4f4f4;
	height: 90px;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	margin-top: 30px;
	border-top: 7px solid #000;
}

/**************************************************************************/

/* estilos pagina fotos.html */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}